*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width:970px;
    margin:auto;
    background-color: aliceblue;
    padding:20px;
    text-align: center;
}

img{
    width:215px;
    height:140px;
    padding:10px;
    border:1px solid black;
    vertical-align: middle;
}

.content{
    margin-top:40px;
}

.content div{
    width:420px;
    border:1px solid #000000;
    margin:auto;
    text-align: left;
}

.content h2{
    padding:10px 20px;
    background: linear-gradient(darkred,rgb(73, 3, 3));
    color:whitesmoke;
    font-weight: normal;
    font-style: italic;
}

.content p{
    padding:10px 30px;
}

.content #titles{
   margin:50px auto 20px auto;
}